
.greeting-container{


    background-image:
        radial-gradient(
            circle at 30% 10%,
            #7de07a,
            #71caaf,
            hsl(143, 66%, 67%)
        );

    background-color: #5CDB94;
    color: #05396B;

    .main-text{
        padding: 14rem 4rem 18rem 4rem;

        h1{
        
            color: #EDF5E0;
            //background: -webkit-linear-gradient(#CAEB3B, #08E9A9);
            //-webkit-background-clip: text;
            //-webkit-text-fill-color: transparent;
    
            font-size: 6rem;
        }
    
        .my-title{
            font-size: 1.6rem;
            font-weight: 100;
            color: #3D7867;
        }
    }
    
    position: relative;

    .media-container{

        position: absolute;
        bottom: 1rem;
        right: 2rem;
        
        .media{

            padding: 0.5rem 0rem;
            display: inline-block;
            width: 6rem;
            text-decoration: none;

            div{
                
                color: white;
                text-align: center;
                margin: auto;
                font-size: 0.8rem;
            }
            
            &:hover{
                div{
                    opacity: 0.6;
                }
            }

        }
    }
}