.header-nav{

    position: absolute;
    top: 0;
    z-index: 100;
    
    padding: 2rem 1rem;

    .header-nav-item{

        display: inline-block;
        margin: 1rem;

        .link-item{
            cursor: pointer;
            text-decoration: none;
            color: #000;
        }
    }

}


.header-nav{
    &.home{
        .header-nav-item .link-item{
            color: #3D7867;
        }
    }
    &.projects, &.process{
        .header-nav-item .link-item{
            color: #000;
        }
    }
}