


.process-section-container{

    padding: 12rem 2rem;

    max-width: 1400px;

    margin: auto;

    position: relative;
    min-height: 26rem;

    .process-text-block, .process-image-block{
        position: absolute;
        width: 45%;

        
    }

    .process-text-block{

        left: 2rem;
        

        h1.process-title{
            font-size: 4rem;
            line-height: 4.2rem;
        }
        
        .process-day{
            font-size: 3rem;
        }

        .process-description, p{
            font-size: 1rem;
            line-height: 1.6rem;
        }

        .process-title, .process-description, .process-skill, p{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
            
       
    }
    
    .process-image-block{
        right: 0;
        top: 25%;

        img{
            width: 80%;
            margin: auto;

            border-radius: 2rem;
        }
            
    }

}


.process-table-container{

    margin: 4rem auto;
    padding: 0 3rem;
    width: 100%;
    max-width: 1600px;

    td{
        padding: 0.5rem;
    }
    .process-day{
        width: 20%;
        font-size: 2rem;
    }
    .process-content{
        width: 50%;
        .process-category{
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
        .process-headline{
            font-size: 3rem;
            line-height: 3.8rem;
        }
    }

}



.process-day{
    color: rgb(217, 224, 228); 
    font-family: 'Didot';
    padding-bottom: 5rem;;
}

.process-category{
    color: black; 
}

.process-skill{
    display: inline-block;
    img{
        width: 2rem;
        max-height: 2rem; 
        padding: 0 1rem 0 0;
        text-align: center;
    }
}   




.process-section{

    width: 100%;

    // &.monday{

    //     .process-day{
    //         color: #19df86;
    //     }
    // }

    // &.tuesday{

    //     .process-day{
    //         color: #b1065b;
    //     }
    // }

    // &.wednesday{

    //     .process-day{
    //         color: #128e97;
    //     }
    // }

    // &.thursday{

    //     .process-day{
    //         color: #c1e736;
    //     }
    // }

    // &.friday{

    //     .process-day{
    //         color: #e2563a;
    //     }
    // }

    // &.saturday{

    //     .process-day{
    //         color: #6fe7b5;
    //     }
    // }
    
    &.sunday{
        background-color: khaki;

        .process-day{
            color: rgb(245, 175, 96);
        }
    }
}