.projectHeader .bg-img {
  max-width: 1600px;
  margin: auto;
  position: relative;
  background: url(../../img/edge_thumb.png) no-repeat;
  background-size: contain !important;
  background-position: right !important;
}

.projectHeader .bg-img .head {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  left: 40px;
  width: 50%;
}

.projectHeader .bg-img .head p {
  font-size: 1.4rem;
}

.projectHeader .bg-img .head .categories {
  padding-top: 1rem;
}

.projectHeader .bg-img .head .categories .category {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #aaa;
  margin-right: 0.5rem;
  display: inline;
}

.projectHeader, .projectHeader .bg-img {
  width: 100%;
  height: 760px;
}

.header-nav.edge .header-nav-item .link-item {
  color: white;
}

.projectHeader.edge {
  background-color: #000;
  background: url("/svg/edge_background.svg") no-repeat #000;
  background-size: cover;
  background-position: center center;
}

.projectHeader.edge .bg-img .head {
  color: #fff;
}

.projectHeader.edge .bg-img .head .categories .category {
  color: white;
  background-color: rgba(161, 170, 196, 0.2);
}

.header-nav.quartz .header-nav-item .link-item {
  color: white;
}

.projectHeader.quartz {
  background-image: radial-gradient(circle at 10% 10%, #4A1A59, #2B3D71, #192D65);
}

.projectHeader.quartz .bg-img .head {
  color: #fff;
}

.projectHeader.quartz .bg-img .head .categories .category {
  color: white;
  background-color: rgba(161, 170, 196, 0.2);
}

.header-nav.creative-coding .header-nav-item .link-item {
  color: yellow;
}

.projectHeader.creative-coding {
  background: #000;
}

.projectHeader.creative-coding .bg-img {
  background-size: 100% !important;
}

.projectHeader.creative-coding .bg-img .head {
  color: #fff;
}

.projectHeader.creative-coding .bg-img .head h1 {
  display: inline;
  color: #f7f6ec;
  text-shadow: -3px 0px 3px yellow, 3px 0px 3px yellow, 6px 0px 6px yellow, -6px 0px 6px yellow;
}

.projectHeader.creative-coding .bg-img .head .categories .category {
  color: white;
  background-color: rgba(34, 34, 32, 0.8);
}

.header-nav.gabriel-riva .header-nav-item .link-item {
  color: #4e2c0f;
}

.projectHeader.shopest {
  background: #ffc993;
}

.projectHeader.shopest .bg-img .head {
  color: #4e2c0f;
}

.projectHeader.shopest .bg-img .head h1 {
  display: inline;
}

.projectHeader.shopest .bg-img .head .categories .category {
  color: white;
  background-color: #f34908;
}

.projectHeader.tokyo-sky-tree-elevator-video {
  background: #fff;
}

.projectHeader.tokyo-sky-tree-elevator-video .bg-img .head {
  color: #fff;
}

.projectHeader.tokyo-sky-tree-elevator-video .bg-img .head h1 {
  display: inline;
  color: black;
}

.projectHeader.tokyo-sky-tree-elevator-video .bg-img .head .categories .category {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-nav.gabriel-riva .header-nav-item .link-item {
  color: white;
}

.projectHeader.gabriel-riva {
  background: #000;
}

.projectHeader.gabriel-riva .bg-img .head {
  color: #fff;
}

.projectHeader.gabriel-riva .bg-img .head h1 {
  display: inline;
  color: white;
}

.projectHeader.gabriel-riva .bg-img .head .categories .category {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=ProjectHeader.css.map */