
@mixin transition-0-5s($args...) {
    -webkit-transition: $args 0.5s;
    -moz-transition: $args 0.5s;
    -ms-transition: $args 0.5s;
    -o-transition: $args 0.5s;
    transition: $args 0.5s;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($arg){
    $IEValue: $arg*100;
    opacity: $arg;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}








@mixin boxshadow-default(){
    -webkit-box-shadow:  0.2rem 0.2rem 1.8rem 1.8rem rgba(0, 0, 0, 0.05);
    -moz-box-shadow:     0.2rem 0.2rem 1.8rem 1.8rem rgba(0, 0, 0, 0.05);
    box-shadow :         0.2rem 0.2rem 1.8rem 1.8rem rgba(0, 0, 0, 0.05);
}
